html {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}
.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(177, 111, 45);
  padding-bottom: 50px;
  color: white;
}
header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.options {
  display: flex;
  max-width: 40%;
  gap: 30px;
  margin-bottom: 30px;

  & button {
    flex: 1;
  }
}
.gridContainer {
  width: 500px;
  height: 500px;
  background-color: white;
  border: 10px solid rgb(240, 72, 38);
}
.gridOptions {
  margin-bottom: 30px;
}
.flex-row {
  display: flex;
  align-items: center;
  gap: 10px;

  & input {
    border-radius: 5px;
  }
}
